[submodule "n8n-nodes-dalux-build"]
	path = n8n-nodes-dalux-build
	url = https://github.com/bruadam/n8n-nodes-dalux-build.git
[submodule "dalux-build-tuto"]
	path = dalux-build-tuto
	url = https://github.com/bruadam/dalux-build-tuto.git
[submodule "webhook-ui"]
	path = webhook-ui
	url = https://github.com/bruadam/dalux-wehbooks-ui.git